<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPq7K5KUpr1ZpXMaIfnXm7CMPeq5XwzZEcsnhohZXEKtTV_hgxD_iGMnYO8STheLq2fX4&usqp=CAU"
      style="width:70px;">
  </a>
</nav>
<div class="row">
  <div class="col-sm-2">
    <nav class="navbar navbar-light flex-fill" style="font-weight: bold; font-size: large;">
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" onclick="goToListProduct()">
            <i class="fa fa-list-alt" aria-hidden="true" style="margin-right: 4px;"></i>Product List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="text-decoration: underline; color: black;" onclick="goToLoaiSP()">
            <i class="fa fa-bars" aria-hidden="true" style="margin-right: 4px;"></i>Categories</a>
        </li>
        <li class="nav-item">
          <a onclick="logout()" class="nav-link" style="color: red;">
            <i class="fa fa-sign-out" aria-hidden="true" style="margin-right: 4px;"></i>Logout</a>
        </li>
      </ul>
    </nav>

  </div>

  <div class="col-sm-10" style="margin-top: 16px;">
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <h2>Category List</h2>
        </div>

        <div class="col-sm-6 text-right">
          <button onclick="goAddNewcate()" type="button" class="btn btn-primary">Add</button>
        </div>

      </div>

      <table id="listLoaiSP" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th class="text-center">Management</th>
          </tr>
        </thead>
        <tbody>
          {{#each list}}
          <tr>
            <td>
              {{this._id}}
            </td>
            <td>
              {{this.categoryName}}
            </td>

            <td class="text-center">
              <button type="button" class="btn btn-warning" onclick="goToEditCategory('{{this._id}}')">Edit</button>
              <button type="button" class="btn btn-danger" onclick="handleDeleteCategory('{{this._id}}')">Remove</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $('#listLoaiSP').DataTable();
    });
    function handleDeleteCategory(id) {
      $.ajax({
        type: "DELETE",
        url: '/loaiSP/delete/' + id,
        success: function (data) {
          if (data.res == true) {
            window.location.href = '/loaiSP'
          }
        }
      });
    }
    function goToEditCategory(id) {
      window.location.href = '/loaiSP/suaLoaiSP/' + id
    }
    function goToListProduct() {
      window.location.href = '/'
    }
    function goAddNewcate() {
      window.location.href = '/loaiSP/themLoaiSP'
    }
    function logout() {
      window.location.href = '/logout'
    }
  </script>